

/* added the link of font-family in css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300&display=swap');


/* css reset and add font-family */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}




/* header section style start */

.header{
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url(../images/banner/banner2.png);

}

.header-container{
    max-width: 500px;
    text-align: right;
    padding-right: 14.75rem;
    
}

.header-title{
    font-size: 4.5rem;
    color: #181818;
    
}
.header-description {
    color: #5b5050;
    line-height: 27px;
    padding: 1.5rem  0;
}

.btn-primary{
    font-weight: 700;
    font-size: 1rem;
    padding: 0.9rem 1rem;
    color: #FFFFFF;
    background-color:#f0932b;
    border: none;
    border-radius: 0.3rem;
}
/* header section style end */





/* main section style start */

.main-container{
 
    margin: 159px 100px 0;
}


.failure-section{
   
    /* margin: 0 7rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}
.failure-container{
    max-width: 416px;
    padding: 2rem;
}

.failure-title{
    padding: 0 0 1.5rem;
    font-size: 3rem;
    color: #181818;
}

.failure-description{
    padding: 0.4rem 0 1rem;
    line-height: 27px;
    color: #5b5050;
}
.failure-list {
    padding: 0.3rem 0 0;
    
    
}

.failure-item{
    display: flex;
    padding: 0.3rem;
    align-items: center;
    color: #5b5050;
}

/* failure section style end */





/* plan section start */

.plan-section{
    margin-top: 100px;
    text-align: center;
}
.plan-title{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.plan-container{
    margin: 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem ;
}


.plan-item{
    padding: 2rem 3.3rem;
}

.plan-item h3{
    color: #5b5050;
}
/* plan section end */


/* main section style end */